<?xml version="1.0"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
  
    <servlet>
        <servlet-name>jack</servlet-name>
        <servlet-class>org.jackjs.JackServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>jack</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
  
</web-app>
