<?xml version="1.0"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
  
    <servlet>
        <servlet-name>jack</servlet-name>
        <servlet-class>org.jackjs.JackServlet</servlet-class>
        <init-param>
            <param-name>optimizationLevel</param-name>
            <param-value>9</param-value>
        </init-param>	
        <init-param>
            <param-name>modulesPath</param-name>
            <param-value>WEB-INF/narwhal</param-value>
        </init-param>	
    </servlet>
    
    <servlet-mapping>
        <servlet-name>jack</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
  
</web-app>
