<% extends ./base.html %>
<% subskin extrahead %>
    
    <link rel="stylesheet" type="text/css" href="theme/app/index.css"/>
    <script>
        Ext.onReady(function() {
            
            var emptyMapGridTextAnon = "No maps found.  Log in to create a new map.";
            var emptyMapGridTextAuth = "No maps found.  Create a new one with the link below.";
            
            Ext.QuickTips.init();
            var status = <% status %>;
            if (status === 401) {
                displayLoginLink();
            } else {
                hideLoginLink();
            }
            var mapStore = new Ext.data.JsonStore({
                url: "maps",
                root: "maps",
                fields: [
                    "id", "title", "abstract", 
                    {name: "created", type: "date", dateFormat: "time"},
                    {name: "modified", type: "date", dateFormat: "time"}
                ],
                autoLoad: true
            });
            
            var mapGrid = new Ext.grid.GridPanel({
                renderTo: "maps",
                autoHeight: true,
                store: mapStore,
                singleSelect: true,
                enableHdMenu: false,
                autoExpandColumn: "title",
                viewConfig: {
                    forceFit: true,
                    emptyText: (status === 401) ? emptyMapGridTextAnon : emptyMapGridTextAuth
                },
                columns: [{
                    header: "ID",
                    dataIndex: "id",
                    width: 40,
                    fixed: true,
                    sortable: true,
                    align: "center"
                }, {
                    id: "title",
                    header: "Title",
                    align: "left",
                    width: 300,
                    dataIndex: "title",
                    sortable: true
                }, {
                    header: "Created",
                    dataIndex: "created",
                    width: 90,
                    xtype: "datecolumn",
                    format: 'Y/m/d',
                    sortable: true,
                    align: "center"
                }, {
                    header: "Modified",
                    dataIndex: "modified",
                    width: 90,
                    xtype: "datecolumn",
                    format: 'Y/m/d',
                    sortable: true,
                    align: "center"
                }, {
                    xtype: "actioncolumn",
                    width: 30,
                    iconCls: "icon-viewmap",
                    tooltip: "View Map",
                    align: "center",
                    handler: function(grid, rowIndex, colIndex) {
                        var id = mapStore.getAt(rowIndex).get("id");
                        window.location = "viewer#maps/" + id;
                    }
                }, {
                    xtype: "actioncolumn",
                    id: "editcolumn",
                    hidden: (status === 401),
                    width: 30,
                    iconCls: "icon-editmap",
                    tooltip: "Edit Map",
                    handler: function(grid, rowIndex, colIndex) {
                        var id = mapStore.getAt(rowIndex).get("id");
                        window.location = "composer#maps/" + id;
                    }
                }, {
                    xtype: "actioncolumn",
                    id: "removecolumn",
                    hidden: (status === 401),
                    width: 30,
                    iconCls: "icon-removemap",
                    tooltip: "Delete Map",
                    handler: function(grid, rowIndex, colIndex) {
                        var rec = mapStore.getAt(rowIndex);
                        var id = rec.get("id");
                        Ext.Msg.show({
                            title: "Confirm Deletion",
                            msg: "Are you sure you want to delete this map?",
                            buttons: Ext.Msg.YESNO,
                            fn: function(button) {
                                if (button === "yes") {
                                    Ext.Ajax.request({
                                        method: "DELETE",
                                        url: "maps/" + id,
                                        success: function() {
                                            mapStore.reload();
                                        },
                                        failure: function() {
                                            // TODO: failure handling
                                        }
                                    });
                                }
                            },
                            icon: Ext.MessageBox.QUESTION
                        });
                    }
                }],
                buttons: [{
                    text: "Create new map",
                    id: "new-map-button",
                    iconCls: "add",
                    handler: function() {
                        window.location = "composer";
                    },
                    hidden: (status === 401)
                }]
            });
            
            function displayLoginLink() {
                Ext.fly("login").on({
                    click: function(event, target) {
                        showLoginDialog();
                        event.stopEvent();
                    }
                });
            }
            function hideLoginLink() {
                Ext.fly("login").hide();
            }
            function showLoginDialog() {
                var panel = new Ext.FormPanel({
                    url: "login",
                    frame: true,
                    labelWidth: 60,
                    defaultType: "textfield",
                    errorReader: {
                        read: function(response) {
                            var success = false;
                            var records = [];
                            if (response.status === 200) {
                                success = true;
                            } else {
                                records = [
                                    {data: {id: "username", msg: "Invalid username or password."}},
                                    {data: {id: "password", msg: "Invalid username or password."}}
                                ];
                            }
                            return {
                                success: success,
                                records: records
                            };
                        }
                    },
                    items: [{
                        fieldLabel: "User",
                        name: "username",
                        allowBlank: false
                    }, {
                        fieldLabel: "Password",
                        name: "password",
                        inputType: "password",
                        allowBlank: false
                    }],
                    buttons: [{
                        text: "Login",
                        formBind: true,
                        handler: submitLogin
                    }],
                    keys: [{ 
                        key: [Ext.EventObject.ENTER], 
                        handler: submitLogin
                    }]
                });
                
                function submitLogin() {
                    panel.buttons[0].disable();
                    panel.getForm().submit({
                        success: function(form, action) {
                            var cookie = action.response.getResponseHeader("Set-Cookie");
                            if (cookie) {
                                // TODO: old browser workaround, confirm or remove
                                document.cookie = cookie;
                            }
                            hideLoginLink();
                            var cm = mapGrid.getColumnModel();
                            cm.setHidden(cm.getIndexById("editcolumn"), false);
                            cm.setHidden(cm.getIndexById("removecolumn"), false);
                            Ext.getCmp("new-map-button").show();
                            var view = mapGrid.getView();
                            view.emptyText = emptyMapGridTextAuth;
                            view.refresh();
                            win.close();
                        },
                        failure: function(form, action) {
                            panel.buttons[0].enable();
                            form.markInvalid({
                                "username": "Invalid username or password.",
                                "password": "Invalid username or password."
                            });
                        }
                    });
                }
                
                var win = new Ext.Window({
                    title: "Login",
                    layout: "fit",
                    width: 235,
                    height: 130,
                    plain: true,
                    border: false,
                    modal: true,
                    items: [panel]
                });
                win.show();
            }

            
        });
    </script>

<% subskin content %>
    <a id="login" href="login">Log in</a>
    <div class="logo"></div>
    <h2>GeoExplorer</h2>
    <div id="maps"></div>
