<!DOCTYPE html>
<html>
    <head>
        <title>GeoExplorer</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="shortcut icon" href="../theme/app/img/favicon.ico">

        <!-- Ext resources -->
        <link rel="stylesheet" type="text/css" href="../externals/ext/resources/css/ext-all.css">
        <link rel="stylesheet" type="text/css" href="../externals/ext/resources/css/xtheme-gray.css">
        <script type="text/javascript" src="../externals/ext/adapter/ext/ext-base.js"></script>
        <script type="text/javascript" src="../externals/ext/ext-all.js"></script>

        <!-- OpenLayers resources -->
        <link rel="stylesheet" type="text/css" href="../externals/openlayers/theme/default/style.css">

        <!-- GeoExt resources -->
        <link rel="stylesheet" type="text/css" href="../externals/GeoExt/resources/css/popup.css">
        <link rel="stylesheet" type="text/css" href="../externals/GeoExt/resources/css/layerlegend.css">
        <link rel="stylesheet" type="text/css" href="../externals/GeoExt/resources/css/gxtheme-gray.css">

        <!-- gxp resources -->
        <link rel="stylesheet" type="text/css" href="../externals/gxp/src/theme/all.css">
        
        {{{content}}}
    </head>
    <body></body>
</html>
