<% extends ./base.html %>
<% subskin extrahead %>
    <!-- OpenLayers resources -->
    <link rel="stylesheet" type="text/css" href="externals/openlayers/theme/default/style.css">
    <script type="text/javascript" src="script/OpenLayers.js"></script>

    <!-- GeoExt resources -->
    <link rel="stylesheet" type="text/css" href="externals/geoext/resources/css/popup.css">
    <link rel="stylesheet" type="text/css" href="externals/geoext/resources/css/layerlegend.css">
    <link rel="stylesheet" type="text/css" href="externals/geoext/resources/css/gxtheme-gray.css">
    <script type="text/javascript" src="script/GeoExt.js"></script> 

    <!-- gxp resources -->
    <link rel="stylesheet" type="text/css" href="externals/gxp/src/theme/all.css">
    <script type="text/javascript" src="script/gxp.js"></script> 

    <!-- proj4js resources -->
    <!--<script type="text/javascript" src="externals/proj4js/lib/proj4js-compressed.js"></script>-->

    <!-- GeoExplorer resources -->
    <link rel="stylesheet" type="text/css" href="theme/app/geoexplorer.css" />
    <!--[if IE]><link rel="stylesheet" type="text/css" href="theme/app/ie.css"/><![endif]-->        
    <link rel="stylesheet" type="text/css" href="theme/ux/colorpicker/color-picker.ux.css" />
    <script type="text/javascript" src="script/GeoExplorer.js"></script>

    <script>
        Ext.BLANK_IMAGE_URL = "theme/app/img/blank.gif";
        OpenLayers.ImgPath = "theme/app/img/";
        var app = new GeoExplorer.Viewer({
            proxy: "proxy/?url=",
            printService: "/geoserver/pdf/",
            about: {
                title: "GeoExplorer Demo Map",
                "abstract": "This is a demonstration of GeoExplorer, " +
                    "an application for assembling and publishing web " +
                    "based maps.",
                contact: "For more information, contact <a href='http://opengeo.org'>OpenGeo</a>."
            },
            defaultSourceType: "gxp_wmscsource",
            sources: {
                suite: {
                    url: "http://v2.suite.opengeo.org/geoserver/ows"
                }
            },
            map: {
                layers: [{
                    name: "World",
                    title: "World",
                    source: "suite",
                    group: "background"
                }],
                center: [0, 0],
                zoom: 2
            }
        });
    </script>
    
